@import url('https://fonts.iu.edu/style.css?family=BentonSans:regular,bold|BentonSansCond:regular|GeorgiaPro:regular');

$font-family-sans-serif: BentonSans Regular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: BentonSans Regular, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: BentonSans Regular, $font-family-sans-serif !default;

$primary: #EA6A0A;
//$primary: #9a0002;
//$secondary: $gray-600 !default;
//$success: $green !default;
//$info: $cyan !default;
//$warning: $yellow !default;
//$danger: $red !default;
$light: #F9F9F9 !default;
//$dark: $gray-800 !default;


// Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
@import '~bootstrap-vue/src/index.scss';

