<style>
    .btn {
        color: white;
        background-color: #EA6A0A;
        padding: 10px 25px;
        border: 1px solid #EA6A0A;
        border-radius: 8px;
    }
    .btn:hover {
        color: white;
          background-color: #944203;
          padding: 10px 25px;
          border: 1px solid #944203;
          border-radius: 8px;
      }
    .btn:focus {
        color: white;
          background-color: #944203;
          padding: 10px 25px;
          border: 1px solid #944203;
          border-radius: 8px;
    }
    .inputLabels {
        color: black;
        font-weight: bold;
    }
    .inputText {
        border: 1px solid black;
        margin-bottom: 15px;
    }
    .heading {
        font-size: 24px;
        color: black;
        
        margin-left: -15px;
    }
    .registeration {
        padding: 20px;
    }
</style>


<div class="registeration">
    <h5 class="heading">Log in with {{ options.password.name|default:"a username and password" }}</h5>
    {% include "./messages.html" %}
    <br/>
    <form action="{% url 'custos_portal_auth:handle_login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username" class="inputLabels">Username</label>
            <input type="text" class="form-control inputText" id="username" name="username" placeholder="Username" value="{{ username }}" required>
        </div>
        <div class="form-group">
            <label for="password" class="inputLabels">Password</label>
            <input type="password" class="form-control inputText" id="password" name="password" placeholder="Password" required>
            <small class="form-text text-muted"><a href="{% url 'custos_portal_auth:forgot_password' %}" class="text-reset">Forgot your password?</a></small>
        </div>
        {% if next %}
        <input type="hidden" name="next" value="{{ next }}"/>
        {% endif %}
        {% if login_type and login_type == 'password' %}
        <input type="hidden" name="login_type" value="{{ login_type }}"/>
        {% endif %}
        <button type="submit" class="btn btn-primary btn-block">
            Sign in with {{ options.password.name|default:"a username and password" }}
        </button>
    </form>
</div>
        
